@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
.active p {
  color: white !important;
}
.active a {
  color: white !important;
}
.active h2 {
  color: white !important;
}
.active h3 {
  color: white !important;
}
.active h4 {
  color: white !important;
}
.active span {
  color: #ffffff !important;
}
.active .cars .swiper-button-prev {
  color: white !important;
}
.active .cars .swiper-button-next {
  color: white !important;
}
.active .cars .cars-pagination {
  color: white !important;
}
.active .how__pagination {
  color: white !important;
}
.active .testimonials .swiper-pagination {
  color: white !important;
}
.active header {
  background: #333333 !important;
}
.active header .header__logo a span {
  background: #8d8d8d !important;
  border-radius: 5px;
}
.active .how {
  background: #333333 !important;
}
.active .how__footer {
  background: #4f4f4f !important;
}
.active .cars {
  background: #333333 !important;
}
.active .pay {
  background: #4f4f4f !important;
}
.active .testimonials {
  background: #333333 !important;
}
.active .testimonials .testimonials__desc {
  background: #3c3c3c !important;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 777;
  width: 100%;
  background: #fff;
}
.header .header__logo a {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  text-decoration: none;
  color: #333333;
}
.header .header__logo a span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0.08em;
  display: block;
  color: #333333;
}
.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__nav a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  color: #333333;
  text-decoration: none;
}
.header .header__nav a:hover {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 19px;
  color: #333333;
  -webkit-text-decoration-line: revert;
          text-decoration-line: revert;
}
.header .header__switch {
  position: relative;
  top: 35px;
}
.header .header__switch input[type=checkbox] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #3f443f;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 5s;
  transition: 5s;
}
.header .header__switch input:checked[type=checkbox] {
  background: #cbcecf;
}
.header .header__switch input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  background: #dfdfdf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s;
  transition: 1s;
}
.header .header__switch input:checked[type=checkbox]::before {
  left: 22px;
}
.header .hamburger {
  display: none;
}
.header .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.watch {
  background: url("../img/k.1.jpg") 0% 95% no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 940px;
}
.watch__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.watch__slider::before {
  content: "";
  position: absolute;
  border-top: 4px solid white;
  width: 90%;
  top: 50%;
}
.watch__slider::after {
  content: "➤";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10%;
  top: 57%;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.watch__slider-item {
  text-align: center;
  width: 200px;
}
.watch__slider-item img {
  height: 100px;
}
.watch .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.watch .slick-list {
  overflow: hidden;
  max-width: 900px;
}
.watch .slick-list .slick-center {
  width: 270px;
}
.watch .slick-list .slick-center img {
  height: 150px;
}
.watch .watch__box {
  padding-left: 15%;
  padding-top: 206px;
}
.watch .watch__box h1 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 104px;
}
.watch .watch__box .watch__button {
  left: 0px;
  top: 0px;
  border-radius: 3px;
  border: 0px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.watch .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 365px;
  bottom: -50%;
  list-style-type: none;
}
.watch .slick-dots button {
  font-size: 0;
  border: 1px solid white;
  margin-left: 12px;
  width: 3 20px;
  height: 5px;
  background-color: #fff;
}
.watch .slick-dots button:focus {
  background: gold;
  border: 1px solid gold;
}
.watch .pagingInfo {
  position: absolute;
  right: 470px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  color: gold;
}
.watch .slick-dots::after {
  content: "";
  border-bottom: 4px solid gold;
  width: 300px;
  bottom: -15px;
  position: absolute;
}
.watch .slick-dots::before {
  content: "";
  border-bottom: 4px solid gold;
  width: 300px;
  top: -5px;
  position: absolute;
}
.watch .watch__href {
  padding-left: 11%;
}
.watch .watch__href .watch__href-items {
  list-style-type: none;
  margin-top: 5px;
}

.button-active {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 245px;
  height: 55px;
  background: linear-gradient(-45deg, #2980b9, #6dd5fa, #72ffbd, #db65ff, #2980b9);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.how {
  width: 100%;
  min-height: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  color: #333333;
}
.how__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #4f4f4f;
}
.how__wrapper {
  overflow: hidden;
}
.how__box {
  max-width: 50%;
}
.how__slide {
  text-align: center;
}
.how__slide img {
  width: 100%;
}
.how__pagination {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  margin-bottom: 50px;
}
.how__pagination .swiper-pagination-total {
  font-size: 20px;
  color: rgba(189, 189, 189, 0.57);
}
.how .image-slider {
  width: 500px;
}
.how .swiper-container-horizontal > .swiper-scrollbar {
  width: 40%;
  left: 30%;
  bottom: -30px;
  z-index: 50;
  height: 5px;
}
.how .swiper-scrollbar-drag {
  height: 10px;
  width: 100%;
  position: relative;
  background: black;
  left: 0;
  top: -50%;
  border-radius: 0;
}
.how__footer {
  width: 100%;
  min-height: 413px;
  background: #f2f2f2;
}

.how__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.how__footer .how__footer-lists {
  text-align: center;
  max-width: 380px;
  padding: 20px;
}
.how__footer .how__footer-lists h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  color: #333333;
}
.how__footer .how__footer-lists p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #4f4f4f;
}
.how__footer .how__footer-lists img {
  width: 70px;
  border: 2px solid;
  padding: 30px;
  border-radius: 50%;
  color: #4bd8b5;
}

.how__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cars {
  width: 100%;
  min-height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.cars h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  color: #333333;
}
.cars__wrapper {
  overflow: hidden;
}
.cars__box {
  max-width: 70%;
  position: relative;
}
.cars .cars-slide {
  text-align: center;
}
.cars .cars-slide img {
  width: 100%;
}
.cars .cars-pagination {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  bottom: -25px;
}
.cars .cars-pagination .swiper-pagination-total {
  font-size: 20px;
  color: rgba(189, 189, 189, 0.57);
}
.cars .image-slider {
  width: 500px;
}
.cars .swiper-container-horizontal > .swiper-scrollbar {
  width: 40%;
  left: 30%;
  bottom: 6px;
  z-index: 50;
  height: 5px;
}
.cars .swiper-scrollbar-drag {
  height: 10px;
  width: 100%;
  position: relative;
  background: black;
  left: 0;
  top: -50%;
  border-radius: 0;
}
.cars .swiper-button-prev {
  left: -55px;
  color: #333333;
}
.cars .swiper-button-next {
  right: -55px;
  color: #333333;
}
.cars .cars__button {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
}

.pay {
  min-height: 750px;
  text-align: center;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.pay__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  color: #333333;
}
.pay__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #828282;
}
.pay__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.pay__box img {
  width: 80px;
  height: 80px;
}
.pay__box .pay__circle1 {
  position: relative;
  border: 4px solid #4bd8b5;
  border-radius: 68%;
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pay__box .pay__circle1 p {
  position: relative;
  width: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  color: #4f4f4f;
}
.pay__box .pay__img {
  width: 12%;
  height: 80px;
  margin-top: 65px;
}
.pay__box .pay__circle2 {
  border: 4px solid #4bd8b5;
  border-radius: 68%;
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pay__box .pay__circle2 p {
  width: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  color: #4f4f4f;
}
.pay__box .pay__circle3 {
  border: 4px solid #4bd8b5;
  border-radius: 68%;
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pay__box .pay__circle3 p {
  width: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  color: #4f4f4f;
}
.pay .pay__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 800px;
  background: #ebf1f3;
}
.testimonials h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  color: #333333;
}
.testimonials__box {
  width: 80%;
  position: relative;
}
.testimonials__box .swiper-container {
  position: unset;
}
.testimonials__box .swiper-container .testimonials__desc {
  width: 97%;
  height: 310px;
  background: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials__box .swiper-container .testimonials__desc h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
  color: #333333;
}
.testimonials__box .swiper-container .testimonials__desc p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #4f4f4f;
}
.testimonials__box .swiper-container .testimonials__desc img {
  width: 50px;
  height: 50px;
}
.testimonials__box .swiper-container .testimonials__desc p {
  width: 85%;
}
.testimonials .swiper-pagination {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  bottom: -15%;
}
.testimonials .swiper-pagination .swiper-pagination-total {
  font-size: 20px;
  color: rgba(189, 189, 189, 0.57);
}
.testimonials .image-slider {
  width: 500px;
}
.testimonials .swiper-container-horizontal > .swiper-scrollbar {
  width: 40%;
  left: 30%;
  bottom: -25%;
  z-index: 50;
  height: 5px;
}
.testimonials .swiper-scrollbar-drag {
  height: 10px;
  width: 100%;
  position: relative;
  background: black;
  left: 0;
  top: -50%;
  border-radius: 0;
}
.testimonials .swiper-button-next {
  right: -40px;
  top: 165px;
  color: #333333;
}
.testimonials .swiper-button-prev {
  left: -40px;
  top: 165px;
  color: #333333;
}
.testimonials .testemotias__button {
  margin: 55px 0 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f2;
}
.map__box #map {
  height: 904px;
  width: 80%;
}

footer {
  width: 100%;
  min-height: auto;
  background: #333333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__item label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
footer .footer__max-box {
  width: 90%;
  min-height: 90%;
  border-bottom: 2px solid #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer__max-box .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__max-box .footer__box .footer__mini-box {
  height: 70%;
}
footer .footer__max-box .footer__box .footer__mini-box h4 {
  margin-top: 90px;
}
footer .footer__max-box .footer__box .footer__mini-box .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
}
footer .footer__max-box .footer__box .footer__mini-box .footer__list li {
  margin-right: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}
footer .footer__max-box .footer__box .footer__mini-box .footer__list .footer__li {
  margin-right: 20px;
}
footer .footer__item .footer__input {
  width: 383px;
  height: 30px;
  border-bottom: 1px solid white;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #333333;
  border-bottom: 1px solid white;
}
footer .footer__item .footer__input:valid {
  border-bottom: 1px solid #00ff22;
  border-top: 1px solid #00ff22;
  color: #00ff22;
}
footer .footer__item .footer__input:invalid:focus {
  border-bottom: 1px solid #ff5e00;
  border-top: 1px solid #ff5e00;
  color: #ff5e00;
}
footer .footer__item textarea {
  width: 383px;
  height: 115px;
  margin-top: 40px;
  outline: none;
  background: #333333;
  border: 1px solid white;
}
footer .footer__item textarea:valid {
  border: 1px solid #00ff22;
  color: #00ff22;
}
footer .footer__item .textarea:invalid:focus {
  border: 1px solid #ff5e00;
  color: #ff5e00;
}
footer .footer__form {
  width: 450px;
}
footer .footer__form h3 {
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
}
footer .footer__form h3 span {
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0.08em;
  display: block;
}
footer .footer__form p {
  margin-top: 65px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 23px;
}
footer .footer__address p {
  margin: 5px 0 0 0;
}
footer .footer__tel-email {
  margin-top: 20px;
}
footer .footer__tel-email p {
  margin: 5px 0 0 0;
}
footer .footer__sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
}
footer .footer__sosial li {
  margin-right: 20px;
}
footer .footer__button {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__text-box {
  width: 90%;
}

@media (max-width: 1255px) {
  .watch .slick-list {
    max-width: 500px;
  }
  .watch .pagingInfo {
    right: 275px;
  }
  .watch .slick-dots {
    right: 160px;
  }

  footer .footer__button {
    margin-top: 80px;
  }
}
@media (max-width: 1111px) {
  .how__box {
    max-width: 70%;
  }

  .watch .watch__box h1 {
    font-size: 70px;
    margin-bottom: 0px;
  }
  .watch .watch__box .watch__button {
    margin-bottom: 30px;
  }

  footer .footer__button {
    margin-top: -600px;
  }
  footer .footer__max-box {
    position: relative;
  }
  footer .footer__max-box .footer__box {
    width: 100%;
  }
  footer .footer__max-box .footer__box .footer__mini-box {
    height: auto;
  }
  footer .footer__max-box .footer__box .footer__mini-box h4 {
    margin-top: 40px;
  }
  footer .footer__max-box .footer__box .footer__mini-box .footer__list {
    display: block;
    position: absolute;
    top: 60px;
  }
  footer .footer__max-box .footer__box .footer__mini-box .footer__list li {
    margin-top: 15px;
  }
  footer .footer__form p {
    margin-top: 190px;
  }
}
@media (max-width: 768px) {
  .testimonials h2 {
    margin: 0;
  }
  .testimonials .swiper-button-prev,
.testimonials .swiper-button-next {
    display: none;
  }
  .testimonials .testimonials__box {
    width: 95%;
  }

  .pay .pay__button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .pay p {
    width: 90%;
  }

  .pay__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pay__box .pay__img {
    width: 16%;
    -webkit-transform: rotate(90deg) translateX(-30px);
            transform: rotate(90deg) translateX(-30px);
  }

  .cars .swiper-button-next {
    display: none;
  }
  .cars .swiper-button-prev {
    display: none;
  }

  .cars__box {
    width: 95%;
  }

  .how__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 1200px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .how__box {
    max-width: 95%;
  }

  .watch .watch__box {
    padding: 10% 0 0 5%;
  }
  .watch .slick-dots {
    right: 70px;
  }
  .watch .pagingInfo {
    right: 185px;
  }
  .watch .watch__href {
    padding-left: 5%;
  }
  .watch .slick-list {
    width: 330px;
  }

  .watch__slider::after {
    left: 0%;
    top: 37%;
    font-size: 40px;
  }

  .watch__slider::before {
    width: 95%;
  }

  .header .header__nav {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header .header__nav.active {
    left: 0;
    background: linear-gradient(-45deg, #c2c2c2, #84959b, #839e91, #ac90b4, #6b8ba1);
    background-size: 400% 400%;
    -webkit-animation: gradient2 5s ease infinite;
            animation: gradient2 5s ease infinite;
  }
  @-webkit-keyframes gradient2 {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  @keyframes gradient2 {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  .header .header__items {
    margin: 2.5rem 0;
  }
  .header .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 34px;
  }
  .header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 499px) {
  .pay__box .pay__img {
    width: 25%;
  }

  .watch .watch__box h1 {
    font-size: 50px;
    font-weight: 1000;
  }

  footer .footer__form h3 {
    margin-top: 30px;
  }
  footer .footer__button {
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer__item .footer__input {
    width: 100%;
    margin-top: 20px;
  }
  footer .footer__item textarea {
    width: 100%;
    margin-top: 20px;
  }
  footer .footer__max-box .footer__box .footer__mini-box .footer__list {
    margin-top: 35px;
  }
}
@media (max-width: 479px) {
  .pay__subtitle {
    display: none;
  }

  .how h2 {
    font-size: 36px;
  }

  .watch .watch__href {
    margin-top: 145px;
  }
  .watch .slick-list {
    width: 479px;
  }

  .watch__slider::after {
    display: none;
  }
}